* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans', roboto, sans-serif;
    background-color: #f3f0f0;
    color: #333;
}

/* NAV */
nav {
    display: flex;

    align-items: center;
    text-align: center;
    justify-content: space-around;
    padding: 30px;
}

#welcome {
    font-size: 25px;
    font-weight: bold;
    flex: 4;
}

.logo {
    width: 100px;
    object-fit: contain;
    flex: 1;
}

.login {
    flex: 4;
}


.login_input {
    border: none;
    font-family: inherit;
    text-align: center;
    padding: 5px;
    font-size: 1.3rem;
    background-color: rgb(250, 250, 250);
    color: inherit;
    width: 15rem;
    border: 1px solid rgb(250, 250, 250);
    border-radius: 8%;
    transition: all 0.2s;
    margin: 5px 15px;
}

.login_input:focus {
    outline: none;
    border: 1px solid #aaa;
}

.login_input::placeholder {
    color: #777;
}

.loginBtn {
    border: none;
    width: 150px;
    cursor: pointer;
    font-size: 1.6rem;
    margin-top: 15px;
    text-transform: uppercase;
    background-color: #333;
    color: white;
    letter-spacing: 1px;
    border-radius: 10%;
    padding: 7px;
    border: 2px solid #333;
    transition: 0.2s;
}

.loginBtn:hover {
    color: #333;
    background-color: white;
    border: 2px solid #333;
}

/* MAIN */
.app {
    width: 80%;
    margin: 5vh auto 0;
    opacity: 0;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.game {
    display: flex;
    margin-bottom: 3vh;

}

.game div {
    height: 30vh;
    flex-grow: 1;
    margin: 10px;
    border: 3px solid gray;
}

.play {
    text-align: center;
}

.play input {
    height: 90px;
    font-size: 40px;
    padding: 20px;
    width: 400px;
    border: 3px solid black;
    text-align: center;
}

.play button {
    width: 40%;
    height: 90px;
    text-align: center;
    padding: 20px 60px;
    font-size: 40px;
    text-transform: uppercase;
    background-color: #333;
    border: none;
    color: white;
    cursor: pointer;
    letter-spacing: 6px;
}

.panel {
    margin: 80px 0 40px;
    font-size: 26px;
}

.panel,
.score {
    font-size: 26px;
    margin-bottom: 50px;
}

.panel span,
.score span {
    font-weight: bold;
}

.addingMoneyOperationWrapper {
    opacity: 0;
    text-align: center;
    border: 3px solid red;
    padding: 20px 0;
    background-color: #ffffff;
    width: 50%;
    display: grid;
    align-items: center;
    justify-content: center;

}

.addMoneyOrLogout {
    opacity: 0;
}

.addMoneyChosenWrap {
    opacity: 0;
}

.optionsBtn {
    border: none;
    width: 150px;
    cursor: pointer;
    font-size: 1.3rem;
    margin: 5px;
    text-transform: uppercase;
    background-color: #333;
    color: white;
    border-radius: 10%;
    padding: 7px;
    border: 2px solid #333;
    transition: 0.2s;
}

.optionsBtn:hover {
    color: #333;
    background-color: white;
    border: 2px solid #333;
}

.addMoneyOrLogout h2 {
    margin: 5px;
    font-size: 35px;

}

#addMoneyInput {
    height: 30px;
    font-size: 20px;
    padding: 10px;
    width: 100px;
    border: 1px solid black;
    text-align: center;
}

@media (max-width: 1024px) {
    .wrap {
        width: 90%;
    }

    .play input {
        height: 70px;
        font-size: 30px;
        display: block;
        margin: 20px auto;

    }

    .play button {
        height: 74px;
        font-size: 30px;
        display: block;
        text-align: center;
        margin: 0 auto;
        padding: 0 20px;
    }

}